*{box-sizing: border-box;
padding: 0;
margin: 0;}

*{font-family: sans-serif;}

h1{font-size: 3rem;}
h2{font-size: 1rem;}

a{text-decoration: none;}
nav{margin: auto 5rem;}

nav div div div{padding: 1rem ;
text-align: center;}

nav div h1{color: rgb(255, 255, 255);}

.btt{border-radius: 3rem;padding: 1em;border: none;margin: 0 1rem;}

.main-head div > div{margin-bottom: 2rem;}


.nav{    width: 100%;
    display: flex;}
.container{width: 920px;
margin: auto  ;
margin-bottom: 4rem;
display: flex;}
.prior{flex-grow: 2;}
.main-head{width: 80%;text-align: center;
    
padding: 2rem;
margin: 2rem auto;}
.black{color: white;background-color: rgb(29, 29, 29);} 
.softblue{color: rgb(255, 255, 255);background-color: rgb(77, 77, 77);} 

.section-pictur{margin: 1rem 0;height: 100%;;width: 60%;}
.section-txt{margin: 1rem 0;height: 100%;;width: 40%;}
.nav > div{align-self: auto;}


.txtimg{width: 100%;height: 500px;margin: 1rem 0;flex-grow: 1;}
.footrow{padding: 1rem;height: 400px;flex-grow: 1;}
.x2{flex-grow: 2;}
.foot{margin-top: 5px; display: flex;vertical-align: auto;width: 100%;justify-content: space-between;height: 80px;padding: 0.5rem 0;}
.txtfoot{ height: 2rem;margin: 1rem 0;}
header{background-image: url(../img/jumbo.png);background-size:cover;}
.headerlink{display: flex;justify-content: space-evenly;}

.pre-foot{margin: auto;text-align: center;}
.pre-foot-btn{width: 100%; display: inline-block;text-align: center;margin: auto;}

.softgray{background-color: rgb(117, 117, 117);}
    
.pre-foot-backgnd{display: inline-block; background-image: url(../img/stars.svg);background-repeat: no-repeat;padding: 2rem;}
.fa-brands .fa-twitter{height: 2rem auto;}
.footrow div:first-of-type{color: blue;}
